{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "citys" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "citys" %}</h2>
{% if city.count > 0 %}
<div class="row">
	<table id="myTable" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "title" %}</th>
				<!--<th></th>-->
				<th><a href="{% url 'city_create'%}">{% trans "Add" %}</a></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in city %}
			<tr>
				<td>
					<p>{{ n.title }}</p>	
				</td>
				<td>
					<a href="{% url 'city_edit' n.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'city_read' n.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'city_delete' n.id %}">{% trans "Delete" %}</a>
				</td>			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<a href="{% url 'city_create'%}">{% trans "Add" %}</a>
{% endif %}
{% endblock content %}

