{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<h2>{% trans "Reports" %}</h2>
<div class="row">
	<form class="form-horizontal" method="post" style="width: 100%" name="paymentForm">	
		{% csrf_token %}
		<div class="controls">
			<input type="radio" id="reportVacancy" name="reportMode" value="Vacancy" checked>
			<label for="reportVacancy">{% trans "vacancys" %}</label>						
		</div>
		<div class="controls">
			<input type="radio" id="reportRespond" name="reportMode" value="Respond" >
			<label for="reportRespond">{% trans "respond" %}</label>						
		</div>
		<div class="controls">
			<input type="radio" id="reportCustomer" name="reportMode" value="Customer" >
			<label for="reportCustomer">{% trans "customers" %}</label>						
		</div>		
		<div class="row justify-content-center">				
			<button type="submit" name="buy" class="btn btn-outline-success" style="width:100px" >{% trans "Get" %}</button>			
		</div>		
	</form>
</div>
{% if vacancy.count > 0 %}
<div class="row">
	<h1>{% trans "vacancys" %}</h1>
</div>
<div class="row">
	<table id="myTable" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "datev" %}</th>
				<th>{% trans "organization" %}</th>
				<th>{% trans "category" %}</th>
				<th>{% trans "position" %}</th>
				<th>{% trans "details" %}</th>
				<th>{% trans "salary" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for n in vacancy %}
			{% if n.date_close is None %}
			<tr>			
			{% else %}
			<tr style="background-color: pink">
			{% endif %}
				<td>
					<p>{{ n.datev | date:"d.m.Y"}}</p>	
					{% if n.date_close != Null %}
						<p>{% trans "date_close" %}: {{ n.date_close | date:"d.m.Y"}}</p>	
					{% endif %}
				</td>
				<td>
					<p>{{ n.city }}</p>	
					<p>{{ n.organization }}</p>	
				</td>
				<td>
					<p>{{ n.category }}</p>	
				</td>
				<td>
					<p>{{ n.position }}</p>	
				</td>
				<td>
					<p>{{ n.details }}</p>	
				</td>
				<td>
					<p>{{ n.salary }}</p>	
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% if respond.count > 0 %}
<div class="row">
	<h1>{% trans "responds" %}</h1>
</div>
<div class="row">
	<table id="myTable" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "dater" %}</th>
				<th>{% trans "customer" %}</th>
				<th>{% trans "datev" %}</th>
				<th>{% trans "organization" %}</th>
				<th>{% trans "category" %}</th>
				<th>{% trans "position" %}</th>
				<th>{% trans "details" %}</th>
				<th>{% trans "salary" %}</th>
			</tr>				
		</thead>
		<tbody>
			{% for n in respond %}
			{% if n.vacancy.date_close is None %}
			<tr>			
			{% else %}
			<tr style="background-color: pink">
			{% endif %}
				<td>
					<p>{{ n.dater | date:"d.m.Y H:i"}}</p>	
				</td>
				<td>
					<p>{{ n.customer }}</p>	
				</td>
				<td>
					<p>{{ n.vacancy.datev | date:"d.m.Y H:i"}}</p>						
					{% if n.vacancy.date_close != Null %}
						<p>{{ n.vacancy.date_close | date:"d.m.Y H:i"}}</p>		
					{% endif %}
				</td>
				<td>
					<p>{{ n.vacancy.city }}</p>	
					<p>{{ n.vacancy.organization }}</p>	
				</td>
				<td>
					<p>{{ n.vacancy.category }}</p>	
				</td>
				<td>
					<p>{{ n.vacancy.position }}</p>	
				</td>
				<td>
					<p>{{ n.vacancy.details }}</p>	
				</td>
				<td>
					<p>{{ n.vacancy.salary }}</p>	
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% if customer.count > 0 %}
<div class="row">
	<h1>{% trans "customers" %}</h1>
</div>
<div class="row">
	<table id="myTable" class="cell-border hover stripe" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "telegram_id" %}</th>
				<th>{% trans "phone_number" %}</th>
				<th>{% trans "first_name" %}</th>
				<th>{% trans "last_name" %}</th>
				<th>{% trans "fio" %}</th>
				<th>{% trans "birthday" %}</th>
				<th>{% trans "education" %}</th>
				<th>{% trans "experienc" %}</th>				
			</tr>			
		</thead>
		<tbody>
			{% for n in customer %}
			<tr>			
				<td>
					<p>{{ n.telegram_id }}</p>	
				</td>
				<td>
					<p>{{ n.phone_number }}</p>	
				</td>
				<td>
					<p>{{ n.first_name }}</p>						
				</td>
				<td>
					<p>{{ n.last_name }}</p>	
				</td>
				<td>
					<p>{{ n.fio }}</p>	
				</td>
				<td>
					<p>{{ n.birthday | date:"d.m.Y H:i" }}</p>	
				</td>
				<td>
					<p>{{ n.education }}</p>	
				</td>
				<td>
					<p>{{ n.experienc }}</p>	
				</td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
</div>
{% endif %}

{% endblock content %}